<footer id="colophon" class="site-footer outer">
  <div class="inner">
    <div class="site-footer-inside">
      <div class="site-info">
        {% if site.params.footer.content %}
        <span class="copyright">{{ site.params.footer.content | safe }}</span>
        {% endif %}
        {% for link in site.params.footer.links %}
        <a {{ classNames({'button': link.type != 'link', 'button-secondary': link.type == 'secondary' }) }} href="{{ link.url }}" {% if link.new_window %}target="_blank" rel="noopener"{% endif %}>{{ link.label }}</a>
        {% endfor %}
      </div><!-- .site-info -->
      {% if site.params.footer.has_social %}
        {% include "social.html" %}
      {% endif %}
    </div><!-- .site-footer-inside -->
  </div><!-- .inner -->
</footer><!-- .site-footer -->
