{% extends "base.html" %}

{% block body %}

  <div id="page" class="site layout-{{ site.params.layout_style }} palette-{{ site.params.palette }}">

    {% include "header.html" %}

    <div id="content" class="site-content outer">
      <main id="main" class="site-main inner">

        {% block content %}{% endblock %}

      </main><!-- .site-main -->
    </div><!-- .site-content -->

    {% if site.params.footer.has_subscribe %}
      {% include "subscribe.html" %}
    {% endif %}

    {% include "footer.html" %}

  </div><!-- .site -->

{% endblock %}