/**
 * Site Footer
 */
.site-footer {
  background: _palette(bg);
  padding-bottom: 0.83333em;
  padding-top: 2.5em;
}

.site-info {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1.33333em;

  .copyright,
  a {
    font-size: 12px;
    letter-spacing: 0.075em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-right: 8px;
    text-transform: uppercase;
  }

  a {
    &:not(.button) {
      border-bottom-width: 1px;
    }
  }

  .button {
    padding: 0.33333em 8px;
  }
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 0.83333em;

  a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    color: inherit;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 18px;
    height: 1.66667em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.66667em;
    margin: 0 5% 0.66667em 0;
    width: 1.66667em;

    &:hover {
      color: _palette(meta);
    }
  }
}

@media only screen and (min-width: 601px) {
  .site-footer-inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .site-info,
  .social-links {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .social-links {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-left: auto;

    a {
      margin-left: 15px;
      margin-right: 0;
    }
  }
}
